* {
  box-sizing: border-box;
}
body {
    background-color: #000012;
    margin: 0;
}
h1, h2, h3, p {
    color: #f8f9fa;
    font-family: "Jura", sans-serif;
}
h1 {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.04em;
    text-align: center;
}
.paragraph {
    font-size: 18px;
    line-height: 1.4;
}
.container {
  padding: 0 16px;
  margin: 90px 0;
}
.header-con {
    background-color: #000034;
    border-bottom: #f8f9fa 2px solid;
    padding-top: 16px;
    padding-bottom: 16px;
}
.header-box {
  margin: 0 auto;
  padding: 0 16px;
  height: 40px;
  display: flex;
  align-items: center;
}
.header-text {
    font-family: "Sixtyfour", sans-serif;
    font-size: 26px;
    color: #f8f9fa;
    margin-left: 15px;
}
.header-icon {
    fill: #f8f9fa;
}
.htsec {
    font-size: 16px;
    margin: 0 50px 0 auto;
}
.hero-con {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    border-bottom: #f8f9fa 2px solid;
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ), 
    url(../img/supernova-img.jpg);
    background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 0;
}
.hero-img {
    width: 600px;
    height: 315px;
    border: #f8f9fa 8px solid;
    border-radius: 10px;
}
.hero-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 650px;
    margin-top: 90px;
}
.hero-p {
    text-align: center;
}
.nebula-con {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}
.nebula-img {
    width: 600px;
    height: 315px;
    border: #f8f9fa 8px solid;
    border-radius: 10px;
}
.nebula-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 650px;
}
.star-con {
    display: flex;
    gap: 160px;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}
.star-img {
    border: #f8f9fa 8px solid;
    border-radius: 10px;
    margin-left: 130px;
}
.star-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 650px;
}
.supernova-con {
    display: flex;
    gap: 160px;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}
.supernova-img {
    width: 350px;
    height: 350px;
    border: #f8f9fa 8px solid;
    border-radius: 10px;
    margin-left: 130px;
}
.supernova-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 650px;
}
.dg-heading {
    font-size: 50px;
}
.dg-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.dg-box {
    display: flex;
    align-items: center;
    gap: 30px;
}
.dg-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: calc((100% - 122px) / 3);
}
.dg-img-text {
    font-size: 20px;
}
.footer-con {
    background-color: #000034;
    border-top: #f8f9fa 2px solid;
    padding-top: 16px;
    padding-bottom: 16px;
}
.footer-box {
  margin: 0 auto;
  padding: 0 16px;
  height: 40px;
  display: flex;
  align-items: center;
}
.footer-text {
    font-family: "Sixtyfour", sans-serif;
    font-size: 26px;
    color: #f8f9fa;
    margin-left: 15px;
}
.scnd {
    margin-left: 600px;
    font-size: 14px;
}
.footer-icon {
    fill: #f8f9fa;
}